.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: rgb(206, 203, 203);
  
}
.header{
  border-bottom: solid 3px darkgrey;
  background: rgb(230, 225, 225);
  padding: 10px 20px;
}

.avatar {
  position: absolute;
  top:5px;
  right:10px;
  width: 100px;
  height:60px;
  font-weight: 600;
  
}

.tomato{
  color: tomato;
}

.avatar-name{
  margin-top: 2px;
}

.middle-main{
  display: flex;
}

.middle{
  margin-top: 100px;
  padding-left: 20px;
  width: 50%;
}

.middle h4 {
  margin-bottom: 10px;
  margin-right: 6rem;
  
}

.input-text{
  left:20px; 
  margin-right: 10px;
  height: 10px;
  padding: .5rem;
  border: darkolivegreen solid 2px;
}

.select {
  height: 28px;
  left:20px;
  font-weight: 900;
  border: darkolivegreen 3px solid;
}

.middle-right{
  padding: 10px;
  margin-left: 80px;
}

.table{
  margin-left: 200px;
  margin-right: auto;
}
th {
  padding: 10px 50px;
}

td {
  padding: 10px 50px;
}

/* button {
  position: absolute;
  margin-top: 20px;
  right: 350px;
 
  
  border: 2px black solid;
  cursor: pointer;
} */

.upload{
  position: absolute;
  margin-top: 20px;
  right: 350px;
  padding: 5px 29px;
}

.blue {
  right: 300px;
  background-color: rgb(99, 99, 216);
  border: 2px black solid;
  cursor: pointer;
  color: aliceblue;
  border-radius: 10px;
}

.drag {
  position: absolute;
  border: solid orange 2px;
  left: 350px;
  margin-top: 20px;
}
